body, div, section, h1, h3, h2 {
    margin: 0;
    padding: 0;
}

.home-darkness__navbar {
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.home-darkness__navbar_link {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 30px;
    position: relative;
}

.home-darkness__navbar_write-me {
    color: #862121;
    cursor: pointer;
}

.home-darkness__navbar_link::before {
    content: "";
    width: 15px;
    height: 2px;
    background-color: white;
    margin-top: -1.5px;
    position: absolute;
    left: 10px;
    top: 50%;
    opacity: 0;
}

.home-darkness__navbar_write-me::before {
    background-color: #862121;
}

.home-darkness__navbar_link:hover::before {
    opacity: 1;
}

.home-darkness__navbar::after {
    content: '';
    padding-right: 5%;
}

.home {
    height: 100vh;
    width: 100%;
    padding: 0;
    background-size: cover;
    background-image: url('../images/header_img.jpg');
    display: flex;
    margin-bottom: 100px;
}

.home-darkness {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home__main {
    padding-top: 12%;
    padding-left: 10%;
    position: relative;
    width: 90%;
}

.home__main h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 3.5rem;
    color: white;
    font-weight: normal;
    padding-left: 3%;
}

.home__main h3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.4rem;
    color: #862121;
    text-transform: uppercase;
    letter-spacing: .5rem;
    position: relative;
    padding-left: 80px;
}

.home__main h3::before {
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #862121;
    margin-top: -1.5px;
    position: absolute;
    left: 0;
    top: 50%;
}

.about {
    min-height: 100vh;
    margin-bottom: 100px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 0;
}

.title h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 3.5rem;
    color: #1f1f1f;
    font-weight: normal;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-about {
    width: 100%;
    min-height: 92%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-row-about-card {
    background-color: #1f1f1f;
    width: 300px;
    height: 680px;
    margin-top: 70px;
    border-radius: 25px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .8);
}

.flex-row-about-card h3 {
    color: white;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    padding-top: 4%;
    letter-spacing: .3rem;
    position: relative;
}

.flex-row-about-card h3::after {
    display: block;
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    padding-left: 50%;
    padding-right: 50%;
}

.flex-row-about-card h4 {
    color: white;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    padding-left: 7%;
    position: relative;
}

.flex-row-about-card__list {
    list-style-type: "✓ ";
    padding-right: 3%;
}

.flex-row-about-card__list li {
    color: white;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    position: relative;
    margin-top: 5%;
}

.projects {
    min-height: 100vh;
    margin-bottom: 100px;
}

.flex-row_projects {
    width: 100%;
    min-height: 92%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    position: relative;
}

.flex-row_projects__card {
    margin-top:40px;
    position: relative;
}

.flex-row_projects__card_cubesat {
    background-image: url('../images/cubesat_img.jpg');
    background-size: cover;
}

.flex-row_projects__card_cubesat:hover {
    transform: scale(1.1);
}

.flex-row_projects__card-cover {
    position: relative;
    width: 95%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    order: 2;
    opacity: 0;
    display: flex;
    align-items: flex-end;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding-left: 5%;
    margin-bottom: 5%;
}

.flex-row_projects__card-cover:hover {
    opacity: 1;
}

.transition {
    transition: 0.5s;
}

.flex-row_projects__card_iss {
    background-image: url('../images/iss.jpg');
    background-size: cover;
}

.flex-row_projects__card_iss:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1099px) {
    .flex-row_projects__card {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (max-width: 1500px) {
    .flex-row_projects__card {
        height: 450px;
        width: 450px;
    }
}

@media only screen and (max-width: 1700px) {
    .flex-row_projects__card {
        height: 500px;
        width: 500px;
    }
}

@media only screen and (min-width: 1701px) {
    .flex-row_projects__card {
        height: 550px;
        width: 550px;
    }
}

@media only screen and (max-width: 600px) {
    .flex-row_projects__card {
        height: 300px;
        width: 300px;
    }
}

.footer {
    width: 100%;
    min-height: 300px;
    background-color: #1f1f1f;
}

.footer__flex-row {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 120px;
}

.footer__flex-row a {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 20px;
}

.footer__flex-row a::after {
    content: "|";
    color: rgba(255, 255, 255, 0.15);
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

.footer__flex-row a:last-child::after {
    content: '';
}

.ending {
    margin-top: 20px;
    color: #4a4848;
    font-weight: normal;
    opacity: 0.8;
}

.gallery {
    margin: 0 0 100px 0;
}

.photo-grid {
    width: calc(288/320*100vw);
    margin: 0 auto;
    display: grid;
    gap: 12px;
    grid-template-rows: repeat(12, 1fr);
}

@media screen and (min-width: 768px) {
    .photo-grid {
        width: calc(720/768*100vw);
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding-top: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        width: calc(928/1024*100vw);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
        padding-top: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        width: calc(1184/1280*100%);
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.photo-grid__item {
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gallery__full-image {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.gallery__full-image img {
    width: 90%;
    max-width: 500px;
}

.arrow {
    font-size: 50px;
    position: absolute;
    color: white;
    opacity: 0.3;
    cursor: pointer;
}

.arrow:hover {
    opacity: 1;
}

.arrow_right {
    right: 3%;
}

.arrow_left {
    left: 3%;
}

.arrow_inactive {
    opacity: 0;
    cursor: default;
}

.arrow_inactive:hover {
    opacity: 0;
}

.close {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.popup {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    padding: 4%;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    opacity: 0;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup_active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}

.form h2 {
    text-align: center;
    margin: 10px 0 20px;
    color: #222;
}

.form-element {
    margin: 20px 0;
}

.form-element__label {
    color: #222;
}

.form__input {
    display: block;
    width: 100%;
    padding: 10px 0 10px 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.form-element textarea {
    margin-top: 10px;
}

.form__submit {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #222;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.error {
    border-color: red;
}

.error-label_invisible {
    display: none;
}

.error-label {
    display: block;
    color: red;
}